// 弹窗动画
.dialong-enter,.dialong-leave-to{
  opacity: 0;
  transform: translateY(-30px);
}
.dialong-enter-to,.dialong-leave{
  opacity: 1;
  transform: translateY(0);
}
.dialong-enter-active,.dialong-leave-active{
  transition: all .2s;
}
// 添加小图标动画
.addIcon-enter,.addIcon-leave-to{
  opacity: 0;
  transform: translateX(-4px);
}
.addIcon-enter-to,.addIcon-leave{
  opacity: 1;
  transform: translateX(0);
}
.addIcon-enter-active,.addIcon-leave-active{
  transition: all .2s;
}
//任务安排弹窗动画
.missionDialong-enter,.missionDialong-leave-to{
  opacity: 0;
  transform: translateY(40px);
}
.missionDialong-enter-to,.missionDialong-leave{
  opacity: 1;
  transition-timing-function:ease;
  transform: translateY(0);
}
.missionDialong-enter-active,.missionDialong-leave-active{
  transition: all .3s;
}